body {
    font-family: Arial, sans-serif;
    background: rgb(2, 0, 36);
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgb(255, 255, 255) 72%, rgba(24, 176, 207, 0.9859593495601365) 100%);
    margin: 0;
    padding: 20px;
}

@keyframes appear {
    from {
        opacity: 0;
        clip-path: inset(100% 100% 0 0);
    }
    to {
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
}

.card {
    opacity: 0;
    clip-path: inset(100% 100% 0 0);
    transition: opacity 1s linear, clip-path 1s linear;
}

.card.visible {
    opacity: 1;
    clip-path: inset(0 0 0 0);
}





h1 {
    color: #333;
}

/* form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: fit-content;
} */

label {
    display: block;
    margin-bottom: 5px;
    padding: 10px;

}

input {
    padding: 10px;
    /* margin-bottom: 20px; */
}

input[type="text"],
select {
    /* width: 100%; */
    padding: 8px;
    /* margin-bottom: 10px; */
    border: 1px solid #ccc;
    border-radius: 4px;

    padding: 10px;
    margin: 20px;
    width: 138px;
    margin-left: 20px;

}

button {
    background-color: #28a745;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#order-output {
    margin-top: 20px;
}

#fun-fact {
    margin-top: 20px;
    font-style: italic;
    color: #555;
}

img {
    margin-top: 10px;
}

#nav_div {
    background-image: url(images/nav_img.png);
    height: 680px;
    width: auto;
    opacity: 98%;

}

nav {
    display: ruby-text-container;
    /* opacity: 20%; */
    text-decoration: solid rgb(0, 0, 0);
    /* float: left; */
    font-weight: bolder;
    color: aqua;
    text-decoration: aqua;
    border-radius: 15px;
}

#navbarToggleExternalContent {
    background-color: transparent;
}

#nav_para {

    position: relative;
    bottom: -244px;

}

form {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    /* display:inline-block; */
    /* align-items: center; */
    height: fit-content;
}

/* Create two equal columns that floats next to each other */
.container-fluid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.formDiv {
    width: 80%;
}

.row {
    display: inline-block;
    justify-content: space-between;

}

.column {
    width: 45%;
}

button {
    display: block;
    margin: 20px auto;

    width: 14pc;
    position: relative;
    bottom: 38pc;
    border-radius: 0 15px 0px 15px;
}

#cardDiv,
#cardDiv1,
#cardDiv2 {
    box-shadow: thistle;
    background: rgb(63, 94, 251);
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgb(252, 190, 203) 100%);
}

#cardDiv1 {

    position: relative;
    bottom: 25pc;
    height: 19pc;
    padding: 13px;
    align-content: center;
    display: flow-root;
    right: 29px;
    padding: 60px;
}

#cardDiv2 {

    position: relative;
    left: 28pc;
    bottom: 44pc;
    height: 19pc;
    display: flow-root;
    padding: 49px;

}

#imgSec {

    position: relative;
    bottom: 30pc;
    flex-wrap: wrap;

}
